h1{
    font-family: 'Comic Sans MS';
    text-decoration: underline;
}

body{
    background-color: lightskyblue;
}

p{
    font-family:'Times New Roman', Times, serif
}

.citation{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: lightgrey;
    font-size: .1em;
    width: 75%;
}

#choice{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    width: 200%;
}

#theEnd{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    width: 200%;
}

#intro{
    width: 60%;
    font-family: 'Arial'
}

#cybertruck{
    width: 500px;
}

#holdBall{
    width: 500px;
    position: relative;
}

#chimney{
    width: 500px;
    position: relative;
}

#playBall{
    width: 500px;
    position: relative;
}

img{
    width: 100%
}

div{
    width: 500px;
    display:inline-table;
    position:relative;
}
