body{
    background-color: rgb(46, 46, 46);
}

#titleCard{
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#intro{
    font-family: "Spinner-Rack-BB";
    font-size: 2em;
    text-align: center;
    background-color: lightpink;
    width:fit-content;
    padding: 15px;
    border: solid 10px black;
    margin: auto;
}

#spiderImage{
    width: 75%;
    border: solid 10px black;
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    margin-bottom:50px;
}

.citation{
    color: lightgrey;
    font-size: .1em;
    width: 75%;
}

#nextPage{
    
    font-family: 'Spinner-Rack-BB';
    font-size: 3em;
    background-color: yellow;
    width:fit-content;
    padding: 15px;
    border: solid 10px black;
    margin: 10px;
}
